[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"

[packages]
django = "==2.2.7"
psycopg2-binary = "==2.8.4"
pylint = "*"
django-crispy-forms = "==1.8.0"
django-allauth = "==0.40.0"
pylint-django = "*"
pillow = "==6.2.1"
stripe = "*"
django-debug-toolbar = "==2.0"
whitenoise = "==4.1.4"
gunicorn = "==19.9.0"
dj-database-url = "==0.5.0"

[requires]
python_version = "3.8"
