{% extends "_base.html" %}

{% block title %}
  Books
{% endblock title %}

{% block content %}
  <div class="album py-5">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        {% for book in book_list %}
          <div class="col">
            <div class="card h-100 shadow-sm">
              {% if book.cover %}
                <img src="{{ book.cover.url }}" alt="{{ book.title }}" width="100%" height="225" class="bd-placeholder-img card-img-top" />
              {% else %}
                <svg class="bd-placeholder-img card-img-top"
                     width="100%"
                     height="225"
                     xmlns="http://www.w3.org/2000/svg"
                     role="img"
                     aria-label="Placeholder: Thumbnail"
                     preserveAspectRatio="xMidYMid slice"
                     focusable="false">
                  <title>{{ book.title }}</title>
                  <rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef" dy=".3em">Cover</text>
                </svg>
              {% endif %}
              <div class="card-body">
                <p class="card-text">{{ book.title }}</p>
              </div>
              <div class="card-footer bg-white d-flex justify-content-between">
                <small class="text-body-secondary mt-1">{{ book.created_on }}</small>
                <a type="button" href="{{ book.get_absolute_url }}" class="btn btn-sm btn-outline-primary">View</a>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>

  {% include "includes/_pagination.html" %}

{% endblock content %}
