{% extends "_base.html" %}

{% block title %}
  Books
{% endblock title %}

{% block content %}
  <div class="album py-5">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        {% for book in book_list %}
          <div class="col">
            <div class="card h-100 shadow-sm">
              <div class="card-body">
                <h6 class="card-title">{{ book.title|truncatechars:100 }}</h6>
                {% comment "Tip" %}Use the subtitle below for tags|authors|keywords{% endcomment %}
                {% comment %} <p class="card-subtitle mb-2 text-body-secondary">Card subtitle</p> {% endcomment %}
                <p class="card-text">{{ book.description|truncatechars:120 }}</p>
              </div>
              <div class="card-footer bg-white d-flex justify-content-between">
                <small class="text-body-secondary mt-1">{{ book.created_on }}</small>
                <a type="button" href="{{ book.get_absolute_url }}" class="btn btn-sm btn-outline-primary">View</a>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>

  {% include "includes/_pagination.html" %}

{% endblock content %}
