<header>
    <!-- Fixed navbar -->
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4\
     mb-3 bg-white border-bottom shadow-sm">
        <a href="{% url 'home' %}" class="navbar-brand my-0 mr-md-auto font-weight-normal text-dark"><i
                class="fas fa-boxes fa-lg" aria-hidden="true"></i></a>
        <nav class="my-2 my-md-0 mr-md-3">
            <a class="p-2 text-dark" href="{% url 'book_list' %}"><i class="fa fa-book fa-lg"
                    aria-hidden="true"></i></a>
            <a class="p-2 text-dark" href="{% url 'about' %}"><i class="far fa-file-alt fa-lg"
                    aria-hidden="true"></i></a>
            <a class="p-2 text-dark" href="{% url 'contact' %}"><i class="fas fa-comment-alt fa-lg"
                    aria-hidden="true"></i></a>
            <a class="p-2 text-dark" href="{% url 'feedback' %}"><i class="fas fa-feather-alt fa-lg"
                    aria-hidden="true"></i></a>
            {% if user.is_authenticated %}
            <a class="p-2 text-dark" href="{% url 'account_logout' %}"><i class="fa fa-sign-out fa-lg"
                    aria-hidden="true"></i></a>
            {% else %}
            <a class="p-2 text-dark" href="{% url 'account_login' %}"><i class="fa fa-sign-in fa-lg"
                    aria-hidden="true"></i></a>
            <a class="btn btn-light" href="{% url 'account_signup' %}"><i class="fa fa-user-plus"
                    aria-hidden="true"></i></a>
            {% endif %}
        </nav>
    </div>
</header>