<header>
  <nav class="navbar navbar-expand-lg"
       aria-label="Offcanvas navbar large">
    <div class="container-fluid">
      <a class="navbar-brand"
         href="{% url 'pages:home' %}">Bookstore</a>
      <button class="navbar-toggler"
              type="button"
              data-bs-toggle="offcanvas"
              data-bs-target="#offcanvasNavbar2"
              aria-controls="offcanvasNavbar2"
              aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="offcanvas offcanvas-end"
           tabindex="-1"
           id="offcanvasNavbar2"
           aria-labelledby="offcanvasNavbar2Label">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title"
              id="offcanvasNavbar2Label">Bookstore</h5>
          <button type="button"
                  class="btn-close btn-close-dark"
                  data-bs-dismiss="offcanvas"
                  aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item">
              <a class="nav-link"
                 href="{% url 'books:book_list' %}">Books</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle"
                 href="#"
                 role="button"
                 data-bs-toggle="dropdown"
                 aria-expanded="false">Profile</a>
              <ul class="dropdown-menu">
                {% if user.is_authenticated %}
                  <li>
                    <a class="dropdown-item"
                       href="{% url 'account_logout' %}">Logout</a>
                  </li>
                {% else %}
                  <li>
                    <a class="dropdown-item"
                       href="{% url 'account_login' %}">Login</a>
                  </li>
                  <li>
                    <a class="dropdown-item"
                       href="{% url 'account_signup' %}">Signup</a>
                  </li>
                {% endif %}
              </ul>
            </li>
          </ul>
          <form class="d-flex mt-3 mt-lg-0"
                role="search">
            <input class="form-control me-2"
                   type="search"
                   placeholder="Search"
                   aria-label="Search">
            <button class="btn btn-outline-success"
                    type="submit">Search</button>
          </form>
        </div>
      </div>
    </div>
  </nav>
</header>
