{% extends '_base.html' %}
{% load static %}
{% load socialaccount %}
{% block title %}Home{% endblock title %}

{% block content %}
<h1>Homepage</h1>
<form class="form-inline mt-2 mt-md-0" action="{% url 'search_results' %}" method="GET">
    <input name="q" type="text" class="form-control mr-sm-2" placeholder="Search" aria-label="Search">
</form>
{% if user.is_authenticated %}
<p>Hi {{ user.email }}!</p>
<a href="{% url 'account_logout' %}">Log Out</a>
{% else %}
<p>You are not logged in.</p>
<a href="{% url 'account_login' %}">Login</a>
<a href="{% url 'account_signup' %}">Sign Up</a>
<a href="{% provider_login_url 'github' %}">Sign Up with github</a>
{% endif %}
{% endblock content %}